body{
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background: url('loading.gif') center no-repeat;
    background-color: #000000;
}
input{
   height: 4%;
   width: 50%;
   max-width: 375px;
   padding: 0%;
   font-size: 110%;
   background: rgba(37, 222, 255, 0.541);
   border: none;
   padding-left: 2%;
}
input:hover{
    background: rgba(37, 222, 255, 0.699);
}
h1{
    color: rgba(0, 0, 0, 0.705);
    font-size: 350%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    letter-spacing: 15%;
}
h2{
    text-align: center;
    font-size: 100%;
    color: rgba(0, 0, 0, 0.836);
    font-weight: bold;
}
h3{
    color: rgba(0, 0, 0, 0.795);
    font-size: 230%;
}
button{
    height: 4%;
    width: 60%;
    max-width: 450px;
    padding: 0%;
    background: rgba(16, 255, 183, 0.70);
    border: none;
    cursor: pointer;
    text-align: center;
}
button:hover{
    background: rgba(16, 255, 183, 0.801);
}
a{
    color: black;
    background-color: rgba(74, 159, 255, 0.678);
    width: 20%;
    height: 5%;
    font-size: 110%;
    text-decoration: none;
    max-width: 100px;
    max-height: 100px;
    text-align: center;
    padding-top: 1%;
    border-radius: 5px;
}